html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  position: relative;
}

body:before {
  content: "";
  background: url(/svg/sun.svg) 0 0 no-repeat;
  width: 100%;
  height: 100%;
  top: 275px;
  left: 3px;
  z-index: -1;
  opacity: 0.1;
  position: absolute;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

button,input,select,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #984207;
  text-decoration: none
}

a:focus,a:hover {
  color: #4f2204;
  text-decoration: none
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px
}

div.overlay-text {
  margin-top:-75px;
  position: absolute;
  width: 75px;
  height: 75px;
  content: "";
  color:#fff;
  font-size: 16px;
  font-weight: 700;
  font-variant: small-caps;
  line-height: 75px;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.8);
  -webkit-transition: opacity 0.3s; /* Safari */
  transition: opacity 0.3s;
}

div.overlay-text:hover:before {
  content: attr(data-hover);
  opacity: 1;
}

div.overlay-text:hover:after {
  content: "";
  opacity: 0;
}

.image-button:before {
  content: "";
  width: 75px;
  height: 75px;
  display: block;
  vertical-align: text-top;
  background-color: transparent;
  background-position : center center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.3s; /* Safari */
  transition: opacity 0.3s;
}

.image-button:hover:before {
  opacity: 0.3;
}

.image-button:hover:after {
  opacity: 1;
}

.logo {
  width:290px;
  height:75px;
  display:inline-block;
  vertical-align: text-top;
  margin-top: 15px;
  margin-left: -25px;
}

.home-button:before{
  background-image: url(/icons/home.png);
}

.about-button:before{
  background-image : url(/icons/about.png);
}

.people-button:before{
  background-image : url(/icons/people.png);
}

.places-button:before{
  background-image : url(/icons/places.png);
}

.resources-button:before{
  background-image : url(/icons/resources.png);
}

.chattels-button:before{
  background-image : url(/icons/chattels.png);
}

#banner {
}

#banner h1 {
  color: #4A5868;
  font-size: 44px;
  line-height: 1;
  letter-spacing: 3.2px;
}

#banner h2 {
  color: #AA7D1D;
  font-size: 20px;
}

.hero-unit {
  text-align: center;
}

.title-other-color {
  color: #FFCB05;
}

.subtitle-other-color {
  color: #553F0E;
}

hr {
  color: #4A5868;
}

div.footer {
  font-size: 13px;
  background-color: #CEB787;
  color: #7F663E;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  bottom: 0;
  position:relative;
}

.link {
  color: #984207;
  text-decoration: none;
}

.footer-links a, .footer-links a:link, .footer-links a:visited { .link; }
.footer-links a:hover, .footer-links a:visited:hover, .footer-links a:active { }
.footer-links a:focus { }

.navbar-header {
  width: 76%;
}

body, html {
  width:100%;
  height:100vh;
}
