<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="inner">
        <div class="text-center">
          <div class="credits-header">Places Page</div>
          <figure>
            <p></p>
            <img clas="img-responsive centered-responsive-img" src="/images/map.png" alt="Map">
            <figcaption>Map of Sicily displaying markers for each monastic foundation</figcaption>
          </figure>
          <figure>
            <p></p>
            <img clas="img-responsive centered-responsive-img" src="/images/map_detail.png" alt="Map">
            <figcaption>Detail showing a monastery's informational popup</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
